<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Regenal Grant Learning Blog">
    <meta name="author" content="Regenal Grant">
    <title>Regenal Grant</title>

    <link href="{{ request.static_path('learning_journal:static/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ request.static_path('learning_journal:static/vendor/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css') }}" rel="stylesheet" />
    <link href="{{ request.static_path('learning_journal:static/css/style.css')}}" rel="stylesheet" type="text/css">

</head>
<body>

    <!-- Header -->
    <header id="header" class="">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Marc's Blog</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{{ request.route_url('list') }}">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="/journal/new-entry">New Post</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
    </header><!-- /header -->
    <!-- Body -->
    <main class="container">
        {%block body%}{%endblock%}
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <hr />
            <p class="text-center">Copyright &copy; Regenal Grant 2016.</p>
        </div>
    </footer>

    <!-- Jquery and Bootstrap Script files -->
    <script src="{{ request.static_path('learning_journal:static/vendor/jquery-2.1.4.js') }}"></script>
    <script src="{{ request.static_path('learning_journal:static/vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ request.static_path('learning_journal:static/app.js')}}"></script>
</body>
</html>

{% block header %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Regenal Blog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ request.route_url('list') }}">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="/journal/new-entry">New Post</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}
