<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <<form action="test_submit" method="POST" accept-charset="utf-8">
    <p>
        <label><input for="name"></label>
        <input type="text" name="name">

    </p>
    <p>
        <label><input for="value"></label>
        <input type="number" name="value">
    </p>
    <input type="submit" value="submit">
    </form>


</body>